- name: 1. Configurar todas las máquinas
  hosts: all
  become: yes
  roles:
    - common

- name: 2. Configurar el Cliente JMeter
  hosts: jmeter_clients
  become: yes
  roles:
    - jmeter_client
    - deploy_jmeter_test
- name: 3. Configurar el Servidor de Aplicación
  hosts: app_servers
  become: yes
  roles:
    - app_server
    - db_setup
    - deploy_spring_app
