---
- name: 0. Esperar a que las instancias estén listas para SSH
  hosts: all
  gather_facts: no
  tasks:
    - name: Esperar 300 segundos a que el puerto SSH (22) esté disponible
      ansible.builtin.wait_for:
        port: 22
        host: '{{ ansible_host }}'
        search_regex: OpenSSH
        delay: 10
        timeout: 300
      connection: local

- name: 1. Configurar todas las máquinas
  hosts: all
  become: yes
  roles:
    - common

- name: 2. Configurar el Cliente JMeter
  hosts: jmeter_clients
  become: yes
  roles:
    - jmeter_client
    # Pasa el puerto 8000 de FastAPI al plan de pruebas
    - role: deploy_jmeter_test
      vars:
        app_port: 8000

- name: 3. Configurar el Servidor de Aplicación (FastAPI)
  hosts: app_servers
  become: yes
  tasks:
    - name: Asegurarse de que el servicio Spring Boot esté detenido
      ansible.builtin.systemd:
        name: spring-app
        state: stopped
        enabled: no
      ignore_errors: yes # Ignora si el servicio no existe
  roles:
    - app_server
    - db_setup
    - deploy_fastapi_app # Despliega FastAPI~
